aria2:
  command:
    - "--dir=/var/lib/seedbox"
    - "--enable-rpc"
    - "--log=-"
    - "--log-level=warn"
    - "--quiet"
    - "--rpc-listen-all=true"
    - "--rpc-secret=ThisTokenIsNotSoSecretChangeIt"
  image: timonier/aria2:1.18.8
  ports:
    - "6800:6800"
  volumes_from:
    - data

cakebox:
  environment:
    - "CAKEBOX_ACCESS=/cakebox/access/"
    - "CAKEBOX_USER=root"
    - "CAKEBOX_ROOT=/var/lib/seedbox"
    - "RIGHTS_CAN_DELETE=TRUE"
  image: timonier/cakebox:1.8.3
  volumes_from:
    - data

data:
  image: busybox:latest
  volumes:
    - /etc/seedbox
    - /var/lib/seedbox

seedbox:
  image: mauchede/seedbox:latest
  links:
    - cakebox
    - webui-aria2
  ports:
    - "80:80"
  volumes_from:
    - data

vsftpd:
  command:
    - "-oallow_writeable_chroot=YES"
    - "-oanonymous_enable=NO"
    - "-ochroot_local_user=YES"
    - "-oguest_enable=YES"
    - "-oguest_username=root"
    - "-opasv_enable=NO"
    - "-olocal_enable=YES"
    - "-olocal_root=/var/lib/seedbox"
    - "-ovirtual_use_local_privs=YES"
    - "-owrite_enable=YES"
  environment:
    - "PWD_FILE=/etc/seedbox/users"
  image: timonier/vsftpd:3.0.2
  ports:
    - "21:21"
  volumes_from:
    - data

webui-aria2:
  environment:
    - "RPC_HOST=127.0.0.1"
    - "RPC_SECRET=ThisTokenIsNotSoSecretChangeIt"
  image: timonier/webui-aria2
