aria2:
  command:
    - "--dir=/var/lib/ftp"
    - "--enable-rpc"
    - "--log=-"
    - "--log-level=warn"
    - "--quiet"
    - "--rpc-listen-all=true"
    - "--rpc-secret=ThisTokenIsNotSoSecretChangeIt"
  image: mauchede/aria2:1.18.8
  ports:
    - "6800:6800"
  volumes_from:
    - seedbox

seedbox:
  image: mauchede/seedbox:latest
  labels:
    io.rancher.sidekicks: aria2, vsftpd, webui-aria2
  stdin_open: true
  tty: true
  volumes:
    - /etc/pam.d
    - /etc/nginx/conf.d
    - /etc/seedbox
    - /var/lib/ftp

vsftpd:
  command:
    - "-oallow_writeable_chroot=YES"
    - "-oanonymous_enable=NO"
    - "-ochroot_local_user=YES"
    - "-oguest_enable=YES"
    - "-oguest_username=root"
    - "-opasv_enable=NO"
    - "-olocal_enable=YES"
    - "-olocal_root=/var/lib/ftp"
    - "-ovirtual_use_local_privs=YES"
    - "-owrite_enable=YES"
  image: mauchede/vsftpd:3.0.2
  ports:
    - "21:21"
  volumes_from:
    - seedbox

webui-aria2:
  environment:
    - "RPC_HOST=127.0.0.1"
    - "RPC_SECRET=ThisTokenIsNotSoSecretChangeIt"
  image: mauchede/webui-aria2
  ports:
    - "80:80"
  volumes_from:
    - seedbox
