AcceptEnv LANG LC_*
ChallengeResponseAuthentication no
HostKey /etc/seedbox/ssh_host_rsa_key
HostKey /etc/seedbox/ssh_host_dsa_key
HostKey /etc/seedbox/ssh_host_ecdsa_key
HostKey /etc/seedbox/ssh_host_ed25519_key
HostbasedAuthentication no
IgnoreRhosts yes
KeyRegenerationInterval 3600
LogLevel INFO
LoginGraceTime 120
PasswordAuthentication yes
PermitEmptyPasswords no
PermitRootLogin no
Port 22
PrintLastLog yes
PrintMotd no
Protocol 2
PubkeyAuthentication no
RhostsRSAAuthentication no
RSAAuthentication yes
ServerKeyBits 1024
StrictModes yes
Subsystem sftp /usr/lib/openssh/sftp-server
SyslogFacility AUTH
TCPKeepAlive yes
UsePAM yes
UsePrivilegeSeparation yes
X11Forwarding no
X11DisplayOffset 10

Match user *
    AllowTCPForwarding no
    ForceCommand internal-sftp
